<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yy-MM-dd HH:mm:ss} [%-5level] %class{3}:%L - %msg%xEx%n"/>
		</Console>
    </Appenders>
    
    <Loggers>
        <logger name="com.dtflys.forest" level="info"/>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
